/* new added css */
.form {
  padding:20px;
  margin:10px;
  border: 2px solid blue;
  /* background-color:; */
  border-radius: 15px;
}
.input {
  padding:10px;
  margin:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;

}
input {
  /* margin:10px; */
  padding:10px;
  border:none;
  /* color:black; */

}
.input input {
  width: 100%;
  /* padding: 12px; */
  margin-bottom: 15px;

  border: 1px solid #444;
  border-radius: 6px;
  background-color: #3a3a3a;
  color: white;
}

button:hover {
  background-color:white;
  color:black;
}
.login {
  margin-top: 10px;

  color: red;
}
/* .margin {
  margin: 10px;
} */
.password {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0 12px;
  margin-bottom: 15px;

  border: 1px solid #444;
  border-radius: 6px;
  background-color: #3a3a3a;
}
.password input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding: 5px 0px;
}


.eye-icon {
  cursor: pointer;
  color: #aaa;
  font-size: 18px;
}
.eye-icon:hover {
  color: white;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display:none;
}
.loginBtn {
  align-self: center;
  width: 94px;
}






/* // auto css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
